<?xml version="1.0" encoding="utf-8"?>
<!-- To Lean more about this file and how to configure it, visit: https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file.-->
<configuration>
	<config>
		<clear />
		<!-- Define the global packages folder. -->
		<!-- Example:
		<add key="globalPackagesFolder" value="C:\NuGet\Packages" />
		-->
	</config>
	<packageRestore>
		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>

	<packageSources>
		<clear />
		<!-- `key` can be any identifier for your source.
			 In this case, NuGet will look for any packages within the packages directory,
			 relative to this NuGet.config file-->
		<add key="withinMyProject" value="packages" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>

	<!-- Define mappings by adding package patterns beneath the target source. -->
	<packageSourceMapping>
		<!-- key value for <packageSource> should match key values from <packageSources> element 
			 this forces NuGet to look for a specific package or packages based on name,
			 only within the package source specified. -->
		<packageSource key="withinMyProject">
			<package pattern="*" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>