name: CI

on:
  push:
    branches: 
      - main
      - 'releases/**'
    paths:
      - 'Examples/**'
      - 'SemiconductorTestLibrary.Abstractions/**'
      - 'SemiconductorTestLibrary.Extensions/**'
      - 'SemiconductorTestLibrary.TestStandSteps/**'
      
env:
    BUILD_SYNC_VARIABLES: '{"GITHUB_INTERNAL_SHA": "${{ github.head_ref }}.${{ github.sha }}"}'

jobs:
    build:
        name: Call Azure Pipeline
        runs-on: ubuntu-latest
        environment: testing
        steps:
        - uses: actions/checkout@v2        
        - uses: enfa/azure-pipeline-github-action@v1.0.0
          with:
            azure-devops-project-url: https://ni.visualstudio.com/DevCentral
            azure-pipeline-name: 'MixedSignalLibrary_GitHub_Trigger'
            azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
            azure-pipeline-variables:  ${{ env.BUILD_SYNC_VARIABLES }}
            azure-pipeline-sourcebranch: ${{ github.ref }}
