name: pr-build

on:
    workflow_run:
        workflows: ["pr-intake"]
        types:
            - requested

run-name: "PR Build #${{ github.event.workflow_run.pull_requests[0].number }}"

env:
    GITHUB_MixedSignalTestLibrary_BRANCH_NAME: '{"GITHUB_MixedSignalTestLibrary_BRANCH_NAME": "${{ github.event.workflow_run.pull_requests[0].head.ref || github.event.workflow_run.head_branch }}"}'

jobs:
    build:   
        name: Call Azure Pre Build Pipeline
        runs-on: ubuntu-latest
        environment: gh-action-testing
        steps:
        - uses: actions/checkout@v2
        - name: Trigger Azure Pipeline for Pre Build
          uses: enfa/azure-pipeline-github-action@v1.0.0
          with:
            azure-devops-project-url: https://ni.visualstudio.com/DevCentral
            azure-pipeline-name: 'MixedSignalLibrary_PR_GitHub'
            azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
            azure-pipeline-variables:  ${{ env.GITHUB_MixedSignalTestLibrary_BRANCH_NAME }}
            azure-pipeline-sourcebranch: "refs/heads/${{ github.base_ref }}"