name: Pre Test

# Run this workflow every time a pull request gets opened against main
on:
  pull_request:
    branches: 
      - main
      - 'releases/**'
    paths:
      - 'Examples/**'
      - 'SemiconductorTestLibrary.Abstractions/**'
      - 'SemiconductorTestLibrary.Extensions/**'
      - 'SemiconductorTestLibrary.TestStandSteps/**'
      - 'TestAssets/**'

env:
    GITHUB_MixedSignalTestLibrary_BRANCH_NAME: '{"GITHUB_MixedSignalTestLibrary_BRANCH_NAME": "${{ github.head_ref || github.ref_name }}"}'

jobs:
    build:   
        name: Call Azure Pre Test Pipeline
        runs-on: ubuntu-latest
        environment: testing
        steps:
        - uses: actions/checkout@v2
        - name: Trigger Azure Pipeline for Unit Test
          uses: enfa/azure-pipeline-github-action@v1.0.0
          with:
            azure-devops-project-url: https://ni.visualstudio.com/DevCentral
            azure-pipeline-name: 'Pre - Mixed Signal Test Library Extensions'
            azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
            azure-pipeline-variables:  ${{ env.GITHUB_MixedSignalTestLibrary_BRANCH_NAME }}
            azure-pipeline-sourcebranch: "refs/heads/${{ github.base_ref }}"
